body, html {
    height: 100%;
	background-image: url url(bg-hero.png);
 background-color:ffac2c;
}
.hero-image {
	background-image: url(bg-hero.png)
	height: 70%;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:ffac2c;
}
<style>
div {
  background-image: url url(bg-hero.png);
}
</style>
form {
  border: 4px solid #f1f1f1;
}

.container {
  padding: 20px;
  background-color: #f1f1f1;
}

input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=checkbox] {
  margin-top: 16px;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
}


